html, body, #root, #root>div {
    height: 100%
}

.no-margin {
    padding: 0 !important;
    margin: 0 !important;
}

.canvas-container {
    text-align:center;
}
.button-container {
    padding-bottom: 0.2rem !important;
    padding-top: 0.2rem !important;
}

p {
    margin-bottom: 0px !important;
}