.set-input-container {
    height: 100%;
    width: 100%;
    padding: 5%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: #9fb0ce;
    cursor: pointer;
}

.input-container {
    width: 100%;
    height: 60%;
    display: flex;
}
.input-preset {
    width: 48%;
    height: 100%;
    padding: 3%;
    background-color:rgba(0,0,0,0.3);
    float: left;
}
.input-blocker {
    width: 4%;
    float: left;
}
.input-load {
    width: 48%;
    height: 100%;
    padding: 3%;
    background-color:rgba(0,0,0,0.3);
    float: right;
}

.input-help-button {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.input-help-button:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}